* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  position: relative;
}

.background1 {
  position: absolute;
  top: -5vh;
  right: 0;
  z-index: -1;
  width: 45vw;
  height: 104vh;
}
a.active {
  color: #464646;
}
.pythonImg {
  width: 15%;
  height: 5vh;
}

header {
  nav {
    padding: 1rem;
    width: 100%;
    ul {
      width: 40%;
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      li {
        font-size: 2.5rem;
        margin-right: 1rem;
        a {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}

main {
  display: flex;
  flex-wrap: wrap;

  section.left {
    flex: 3 1 600px;
    padding: 2rem;
    h1 {
      font-size: 2.7rem;
    }
    p {
      font-size: 1.7rem;
    }
  }
  section.right {
    flex: 1 1 500px;
    position: relative;
    div {
      overflow: hidden;
      border-radius: 500%;
      width: 25vw;
      height: 25vw;
      position: absolute;
      top: 40vh;
      right: 15vw;
      transform: translateY(-50%);
      img {
        width: 30vw;
        height: 30vw;
      }
    }
  }
  section.table {
    flex: 3 1 600px;
    padding: 2rem;
    table {
      border-collapse: collapse;
      tr {
        border-bottom: 2px solid black;
        transition: 0.2s ease;
        td {
          padding: 1rem;
        }
        &:hover {
          background-color: rgb(190, 190, 190);
        }
      }
    }
  }
  section.picture {
    flex: 1 1 500px;
    position: relative;
    img {
      width: 30vw;
    }
    div.grayRect {
      width: 30vw;
      height: 50vh;
      background-color: gray;
      position: absolute;
      top: 80px;
      left: 70px;
      z-index: -1;
    }
  }
  section.form {
    flex: 1 1 600px;
    form {
      // height: 70%;
      display: flex;
      min-height: 50vh;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      div {
        margin-bottom: 0.5rem;
        label {
          font-size: 1.5rem;
          margin-right: 1rem;
        }
        input,
        textarea {
          background-color: #464646;
          color: white;
          font-size: 1.25rem;
          padding: 0.25rem 0rem;
          border: none;
          min-width: 40vw;
          // width: 80%;
        }
        textarea {
          // 用來改變"需求"兩字的位置
          vertical-align: top;
        }
      }
      button {
        align-self: center;
        padding: 1.5rem 3rem;
        font-size: 1.5rem;
        background-color: #464646;
        color: white;
        cursor: pointer;
        border: none;
        border-radius: 10%;
      }
    }
  }
  div.line{
    background-color: black;
    width: 2px;
  }
  section.contact {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    flex: 1 1 500px;
  }
}
footer {
  a {
    padding: 1rem;
  }
}

@media screen and(max-width: 1100px) {
  .background1 {
    opacity: 0.5;
  }
  header {
    nav {
      ul {
        width: 100%;
        flex-direction: column;
        li {
          padding: 1rem 0rem;
          border-bottom: 2px solid gray;
        }
      }
    }
  }
  main {
    section.right {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem;
      div {
        position: static;
        transform: none;
        width: 50vw;
        height: 50vw;
        img {
          width: 55vw;
          height: 55vw;
        }
      }
    }
    section.table {
      img.pythonImg {
        width: 15vw;
      }
    }
    section.picture {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 50vw;
      }
      div.grayRect {
        display: none;
      }
    }
    div.line{
      display: none;
    }
  }
}
